.card {
  list-style-type: none;
  /* padding: 1em; */
  /* max-width: 50%; */
  width: calc(50% - 2em);
  /* width: 450px; */
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
  margin-bottom: 2em;
}

.ant-card-body {
  height: 280px !important;
  /* height: 100%; */
  padding: 0 !important;
}

.ant-layout {
  height: 100% !important;
}

.ant-layout-content {
  padding: 10px 20px;
}

h3.title {
  font-size: 1.25rem;
  margin-bottom: 7px;
  max-width: 180px;
}

span.date {
  color: #827e7e;
  font-size: 0.75rem;
  margin-bottom: 7px;
  display: block;
}

.ant-progress {
  position: absolute;
  right: 12px;
  top: 12px;
}

p.description {
  font-size: 0.75rem;
  line-height: 22px;
  margin-top: 10px;
}

.genres {
  margin-top: 8px;
}

.genre-wrapper {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  padding: 0.125em 0.3em;
  margin-right: 0.5em;
}

.ant-rate {
  position: absolute;
  bottom: 5px !important;
}

.show-more {
  cursor: pointer;
}

.ant-typography {
  margin-top: 5px;
}
